body
{
    background-color: rgb(210, 184, 202);
}
h2{
    color: rgb(218, 22, 55);
}
#h
{
    color: rgb(142, 84, 84);
}

#y
{
    background-color: aliceblue;
    width: 50%;
    text-shadow: 5px 5px 5px rgb(84, 78, 78);
   
}